language: php

php:
 - 5.3
 - 5.4
 - 5.5
 - hhvm

env:
 - DB=mysql

before_script:
 - mysql -e 'create database db_ccf2_phpunit'
 - composer self-update
 - composer install --prefer-source --no-interaction --dev

script: phpunit --coverage-text

matrix:
 allow_failures:
  - php: hhvm