<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="boot/phpunit.php">
	<testsuites>
		<testsuite name="CCF Core">
			<directory suffix=".php">./CCF/vendor/clancats/core/tests/</directory>
		</testsuite>
	</testsuites>
	
	<testsuites>
		<testsuite name="CCF Core">
			<directory suffix=".php">./CCF/vendor/clancats/core/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>